/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #17202A;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #28B463;
}

header .auth-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.auth-buttons a.register {
    color: #17202A;
    background-color: #fff;
    border: 1px solid #17202A;
}

.auth-buttons a.login {
    color: #fff;
    background-color: #17202A;
}

.auth-buttons a.register:hover {
    background-color: #28B463;
    color: #fff;
}

.auth-buttons a.login:hover {
    background-color: #28B463;
}

/* Sección principal */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #17202A;
    color: #fff;
    height: 100vh;
}

main .content {
    max-width: 50%;
}

main .content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

main .content p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: #ccc;
}

main .content .buttons {
    display: flex;
    gap: 20px;
}

main .content .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #17202A;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

main .content .buttons a:hover {
    background-color: #28B463;
    color: #fff;
}

/* Estilo para la imagen a la derecha */
main .image {
    max-width: 40%;
    height: auto;
    background-color: #ccc; /* Placeholder color for the image background */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

main .image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}